<h1>{{appSettings.title}}</h1>
<!-- title, content, image, date  -->
<section id="menu" class="container">

  <!-- begin menu block -->
  <div class="menu-block" ng-repeat="menu in mIndexCtrl.menus | filter: menuIndexFilter | orderBy:mIndexCtrl.sortBy:mIndexCtrl.reverse">
    <div class="menu-img picture">
      <img src="images/" alt="Food">
    </div> <!-- menu item picture -->

    <div class="menu-content">
      <h2>{{menu.course}}</h2>
      <p>{{menu.title}}</p>
      <p>{{menu.description}}</p>
    </div> <!-- end content block -->
  </div>
  <!-- end menu block -->

</section> <!-- menu-item -->
